<div class="pokedex">
  <div class="pokedex-left">
    <div class="logo"></div>
    <div class="bg_curve1_left"></div>
    <div class="bg_curve2_left"></div>
    <div class="curve1_left">
      <div class="buttonGlass" [ngClass]="{'pokedex-light': objectsFilter.name }">
        <div class="reflect"></div>
      </div>
      <div class="miniButtonGlass1"></div>
      <div class="miniButtonGlass2"></div>
      <div class="miniButtonGlass3"></div>
    </div>
    <div class="curve2_left">
      <div class="junction">
        <div class="junction1"></div>
        <div class="junction2"></div>
      </div>
    </div>
    <div class="screen">
      <div class="topPicture">
        <div class="buttontopPicture1"></div>
        <div class="buttontopPicture2"></div>
      </div>
      <div class="picture">
        <div *ngFor="let pokemon of pokemons">
          <img src="{{pokemon.img}}" width="170" height="170" *ngIf="pokemon.name === objectsFilter.name">
        </div>
        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/200653/psykokwak.gif" alt="psykokwak" height="170" />-->
      </div>
      <div class="buttonbottomPicture"></div>
      <div class="speakers">
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
      </div>
    </div>
    <div class="bigbluebutton"></div>
    <div class="barbutton1"></div>
    <div class="barbutton2"></div>
    <div class="cross">
      <div class="leftcross">
        <div class="leftT"></div>
      </div>
      <div class="topcross">
        <div class="upT"></div>
      </div>
      <div class="rightcross">
        <div class="rightT"></div>
      </div>
      <div class="midcross">
        <div class="midCircle"></div>
      </div>
      <div class="botcross">
        <div class="downT"></div>
      </div>
    </div>
  </div>
  <div class="pokedex-right">
    <div class="stats">
      <div class="detailPokedex"  *ngFor="let pokemon of pokemons | filterBy: {name: objectsFilter.name}">
        <div *ngIf="pokemon.name === objectsFilter.name">
          <div class="pokemon-detail">
            <strong>Id :</strong> {{pokemon.id}}<br/>
            <strong>Name :</strong> {{pokemon.name}}<br/>
            <strong>Type :</strong> {{pokemon.type}}<br/>
            <strong>Height :</strong> {{pokemon.height}}<br/>
            <strong>Weight :</strong> {{pokemon.weight}}<br/>
            <strong>Candy :</strong> {{pokemon.candy}}<br/>
          </div>
          <div class="pokemon-evolutions">
            <strong>Evolución</strong>
            <strong *ngIf="pokemon.prev_evolution">Anterior</strong>
            <div class="pokemon-evolutions" *ngFor="let pokemonItems of pokemon.prev_evolution; let i = index">
              <div class="prev-evolutions" *ngIf="pokemon.prev_evolution">
                {{pokemonItems.num}} - {{pokemonItems.name}}
              </div>
            </div>
            <strong *ngIf="pokemon.next_evolution">Siguiente</strong>
            <div class="pokemon-evolutions" *ngFor="let pokemonItems of pokemon.next_evolution; let i = index">
              <div class="prev-evolutions" *ngIf="pokemon.next_evolution">
                {{pokemonItems.num}} - {{pokemonItems.name}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="blueButtons1">
      <input type="text" placeholder="Buscar pokemón" [(ngModel)]="objectsFilter.name" name="search">
    </div>
    <div class="miniButtonGlass4"></div>
    <div class="miniButtonGlass5"></div>
    <div class="barbutton3"></div>
    <div class="barbutton4"></div>
    <div class="yellowBox1"></div>
    <div class="yellowBox2"></div>
    <div class="bg_curve1_right"></div>
    <div class="bg_curve2_right"></div>
    <div class="curve1_right"></div>
    <div class="curve2_right"></div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

<ul>
  <li *ngFor="let pokemon of pokemons | filterBy: {name: objectsFilter.name} ">
    {{pokemon.type}}, {{pokemon.name}}, {{pokemon.id}},
    <br>
    {{pokemon.prev_evolution | json}}
    <!--<img src="{{pokemon.img}}" alt="{{pokemon.name}}" title="{{pokemon.name}}">-->
    <br>------------------------------------<br>
    <div class="pokemon-evolutions" *ngFor="let pokemonItems of pokemon.prev_evolution; let i = index">
      {{pokemonItems.num}} - {{pokemonItems.name}}
      <br>
    </div>
  </li>
</ul>



<div id="linkBack" style="position:absolute;right:0px;top:0px;background-color:#333;margin:0;width:60px;padding:5px"><a href="http://www.f-rilling.com/projects/" target="_blank" style="font-size:14px;text-decoration:none;color:#fff;padding:0 0 0 5px;font-family:sans-serif">My Site</a></div>