@import "./../../scss/variables";

:host {
  @media all {
    .pokedex {
      width: 750px;
      margin: 50px auto 0 auto;
      /*Panel izquierdo
      * Contenedor principal de pokedex
      */
      .pokedex-left {
        width: 400px;
        height: 500px;
        float: left;
        position: relative;
        z-index: 1;
        .bg_curve1_left {
          width: 400px;
          height: 80px;
          background-color: #8b0000;
          border-top-left-radius: 30px;
          -webkit-border-top-left-radius: 30px;
          -moz-border-top-left-radius: 30px;
          -o-border-top-left-radius: 30px;
        }
        .bg_curve2_left {
          width: 400px;
          height: 420px;
          background-color: $pokedex-red;

          box-shadow: -10px 9px $pokedex-red-shadow;
          -webkit-box-shadow: -10px 9px $pokedex-red-shadow;
          -moz-box-shadow: -10px 9px $pokedex-red-shadow;
          -o-box-shadow: -10px 9px $pokedex-red-shadow;

          border-bottom-left-radius: 30px;
          -webkit-border-bottom-left-radius: 30px;
          -moz-border-bottom-left-radius: 30px;
          -o-border-bottom-left-radius: 30px;
        }
        /*Lado izquierdo
        * Encabezado de la pokedex
        */
        .curve1_left {
          width: 201px;
          height: 85px;
          background-color: #8b0000;
          float: left;
          padding: 15px 0 0 15px;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: -10px 9px $pokedex-red-shadow;
          -webkit-box-shadow: -10px 9px $pokedex-red-shadow;
          -moz-box-shadow: -10px 9px $pokedex-red-shadow;
          -o-box-shadow: -10px 9px $pokedex-red-shadow;
          border-bottom-right-radius: 85px 60px;
          -webkit-border-bottom-right-radius: 85px 60px;
          -moz-border-bottom-right-radius: 85px 60px;
          -o-border-bottom-right-radius: 85px 60px;
          border-top-left-radius: 30px;
          -webkit-border-top-left-radius: 30px;
          -moz-border-top-left-radius: 30px;
          -o-border-top-left-radius: 30px;
          .buttonGlass {
            width: 60px;
            height: 60px;
            margin-right: 15px;
            border: 5px solid #fff;
            float: left;

            box-shadow: 0 0 10px #490000;
            -webkit-box-shadow: 0 0 10px #490000;
            -moz-box-shadow: 0 0 10px #490000;
            -o-box-shadow: 0 0 10px #490000;

            background: radial-gradient(#05fbfb, #29abe3);
            background: -webkit-radial-gradient(#05fbfb, #29abe3);
            background: -moz-radial-gradient(#05fbfb, #29abe3);
            background: -o-radial-gradient(#05fbfb, #29abe3);

            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            -o-border-radius: 35px;
            .reflect {
              width: 30px;
              height: 18px;
              margin: 3px 0 0 15px;
              background: #fff;
              opacity: 0.6;

              border-radius: 15px 9px;
              -webkit-border-radius: 15px 9px;
              -moz-border-radius: 15px 9px;
              -o-border-radius: 15px 9px;
            }
          }
          .miniButtonGlass1 {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            float: left;

            box-shadow: 0 0 10px #490000;
            -webkit-box-shadow: 0 0 10px #490000;
            -moz-box-shadow: 0 0 10px #490000;
            -o-box-shadow: 0 0 10px #490000;

            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;

            background: radial-gradient(#fb7b7b, #fb0505);
            background: -webkit-radial-gradient(#fb7b7b, #fb0505);
            background: -moz-radial-gradient(#fb7b7b, #fb0505);
            background: -o-radial-gradient(#fb7b7b, #fb0505);
          }
          .miniButtonGlass2 {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            float: left;

            box-shadow: 0 0 10px #490000;
            -webkit-box-shadow: 0 0 10px #490000;
            -moz-box-shadow: 0 0 10px #490000;
            -o-box-shadow: 0 0 10px #490000;

            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;

            background: radial-gradient(#fbfb9b, #fbfb05);
            background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
            background: -moz-radial-gradient(#fbfb9b, #fbfb05);
            background: -o-radial-gradient(#fbfb9b, #fbfb05);
          }
          .miniButtonGlass3 {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            float: left;

            box-shadow: 0 0 10px #490000;
            -webkit-box-shadow: 0 0 10px #490000;
            -moz-box-shadow: 0 0 10px #490000;
            -o-box-shadow: 0 0 10px #490000;

            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;

            background: radial-gradient(#b0fb7b, #50fb05);
            background: -webkit-radial-gradient(#b0fb7b, #50fb05);
            background: -moz-radial-gradient(#b0fb7b, #50fb05);
            background: -o-radial-gradient(#b0fb7b, #50fb05);
          }
        }
        .curve2_left {
          width: 265px;
          height: 450px;
          background-color: $pokedex-red;
          float: right;
          position: absolute;
          bottom: 0;
          right: 0;
          border-top-left-radius:85px 60px;
          -webkit-border-top-left-radius: 85px 60px;
          -moz-border-top-left-radius: 85px 60px;
          -o-border-top-left-radius: 85px 60px;
          .junction {
            width: 60px;
            height: 451px;
            float: right;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b0000+0$pokedex-red+50,8b0000+100,6d0019+100 */
            background: #8b0000; /* Old browsers */
            background: -moz-linear-gradient(left, #8b0000 0%, $pokedex-red 50%, #8b0000 100%, #6d0019 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #8b0000 0%,$pokedex-red 50%,#8b0000 100%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #8b0000 0%,$pokedex-red 50%,#8b0000 100%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b0000', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
            .junction1 {
              height: 40px;
              background-color: $pokedex-red-shadow;
              opacity: 0.3;
              margin-top: 50px;
              margin-bottom: 262px;
              border-top: 2px solid #330000;
              border-bottom: 2px solid #330000;
            }
            .junction2 {
              height: 40px;
              background-color: $pokedex-red-shadow;
              opacity: 0.3;
              border-top: 2px solid #330000;
              border-bottom: 2px solid #330000;
            }
          }
        }
        .screen {
          height: 245px;
          width: 300px;
          padding: 0 20px;
          background-color: #b0b0b0;
          float:left;

          position: absolute;
          top: 130px;
          left: 19px;

          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -o-border-radius: 15px;
          &::after {
            content: "";
            border-top: 40px solid #b0b0b0;
            border-left: 40px solid $pokedex-red;
            height: 0;

            position: absolute;
            bottom: 0;
            left: 0;
          }
          .picture {
            height: 175px;
            width: 254px;
            margin-top: 20px;
            margin-bottom: 9px;
            background-color: #fff;
            border: 3px solid #494949;
            clear: both;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -o-border-radius: 15px;
            img {
              display: block;
              margin: 0 auto;
            }
          }

          .topPicture {
            margin: 6px auto;
            width: 40px;
            .buttontopPicture1, .buttontopPicture2 {
              height: 8px;
              width: 8px;
              background-color: $pokedex-red;
              border: 1px solid #000;
              float: left;

              border-radius: 15px;
              -webkit-border-radius: 15px;
              -moz-border-radius: 15px;
              -o-border-radius: 15px;
            }
            .buttontopPicture1 {
              margin-right: 20px;
            }
          }
          .buttonbottomPicture {
            height: 26px;
            width: 26px;
            background-color: $pokedex-red;
            margin-left: 35px;
            float: left;

            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -o-border-radius: 30px;

            box-shadow: -2px 1px $pokedex-red-shadow;
            -webkit-box-shadow: -2px 1px $pokedex-red-shadow;
            -moz-box-shadow: -2px 1px $pokedex-red-shadow;
            -o-box-shadow: -2px 1px $pokedex-red-shadow;

            background: linear-gradient(top, $pokedex-red 0%, #8b0000 80%);
            background: -webkit-linear-gradient(top, $pokedex-red 0%, #8b0000 80%);
            background: -moz-linear-gradient(top, $pokedex-red 0%, #8b0000 80%);
            background: -o-linear-gradient(top, $pokedex-red 0%, #8b0000 80%);
          }
          .speakers {
            float: right;
            width: 75px;
            height: 25px;
            margin-right: 20px;
            .sp {
              height: 3px;
              margin-bottom: 5px;
              background-color: #494949;

              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              -o-border-radius: 30px;
            }
          }
        }

        .bigbluebutton {
          height: 50px;
          width: 50px;
          background-color: #0530e5;
          position: absolute;
          top: 395px;
          left: 30px;

          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;

          background: linear-gradient(top, #307bfb 0%, #0530e5 80%);
          background: -webkit-linear-gradient(top, #307bfb 0%, #0530e5 80%);
          background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
          background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%);

          box-shadow: -3px 2px #001c91;
          -webkit-box-shadow: -3px 2px #001c91;
          -moz-box-shadow: -3px 2px #001c91;
          -o-box-shadow: -3px 2px #001c91;
        }

        .barbutton1 {
          height: 13px;
          width: 50px;

          position: absolute;
          top: 405px;
          left: 100px;

          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50fb05+72,057b05+100 */
          background: #50fb05; /* Old browsers */
          background: -moz-linear-gradient(top, #50fb05 72%, #057b05 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #50fb05 72%,#057b05 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #50fb05 72%,#057b05 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50fb05', endColorstr='#057b05',GradientType=0 ); /* IE6-9 */

          box-shadow: -1px 2px #004200;
          -webkit-box-shadow: -1px 2px #004200;
          -moz-box-shadow: -1px 2px #004200;
          -o-box-shadow: -1px 2px #004200;
        }

        .barbutton2 {
          height: 13px;
          width: 50px;

          position: absolute;
          top: 405px;
          left: 165px;

          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+54,ff7b0d+86 */
          background: #ffa84c; /* Old browsers */
          background: -moz-linear-gradient(top, #ffa84c 54%, #ff7b0d 86%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #ffa84c 54%,#ff7b0d 86%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #ffa84c 54%,#ff7b0d 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

          box-shadow: -1px 2px #7b0000;
          -webkit-box-shadow: -1px 2px #7b0000;
          -moz-box-shadow: -1px 2px #7b0000;
          -o-box-shadow: -1px 2px #7b0000;
        }

        .cross {
          width: 90px;
          height: 90px;
          position: absolute;
          top: 394px;
          left: 230px;
          .topcross {
            width: 30px;
            height: 30px;
            background-color: #222;
            position: absolute;
            top: 0;
            left: 30px;
            box-shadow: -3px 2px #010101;
            -webkit-box-shadow: -3px 2px #010101;
            -moz-box-shadow: -3px 2px #010101;
            -o-box-shadow: -3px 2px #010101;

            border-top-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -moz-border-top-left-radius: 5px;
            -o-border-top-left-radius: 5px;

            border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-top-right-radius: 5px;
            -o-border-top-right-radius: 5px;
            .upT {
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #111;

              position: absolute;
              top: 5px;
              left: 4px;
            }
          }

          .leftcross {
            width: 30px;
            height: 30px;
            background-color: #222;
            z-index: 1;

            position: absolute;
            left: 0;
            top: 30px;

            box-shadow: -3px 2px #010101;
            -webkit-box-shadow: -3px 2px #010101;
            -moz-box-shadow: -3px 2px #010101;
            -o-box-shadow: -3px 2px #010101;

            border-top-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -moz-border-top-left-radius: 5px;
            -o-border-top-left-radius: 5px;

            border-bottom-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-bottom-left-radius: 5px;
            -o-border-bottom-left-radius: 5px;
            .leftT {
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-right: 10px solid #111;
              border-bottom: 10px solid transparent;

              position: absolute;
              top: 5px;
              left: 4px;
            }
          }

          .midcross {
            width: 30px;
            height: 30px;
            background-color: #222;

            position: absolute;
            top: 30px;
            left: 30px;

            box-shadow: -3px 2px #010101;
            -webkit-box-shadow: -3px 2px #010101;
            -moz-box-shadow: -3px 2px #010101;
            -o-box-shadow: -3px 2px #010101;
            .midCircle {
              width: 20px;
              height: 20px;

              position: absolute;
              top: 5px;
              left: 4px;

              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              -o-border-radius: 30px;

              background: radial-gradient(#111, #222);
              background: -webkit-radial-gradient(#111, #222);
              background: -moz-radial-gradient(#111, #222);
              background: -o-radial-gradient(#111, #222);
            }

          }

          .rightcross {
            width: 30px;
            height: 30px;
            background-color: #222;

            position: absolute;
            top: 30px;
            right: 0;

            box-shadow: -3px 2px #010101;
            -webkit-box-shadow: -3px 2px #010101;
            -moz-box-shadow: -3px 2px #010101;
            -o-box-shadow: -3px 2px #010101;

            border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-top-right-radius: 5px;
            -o-border-top-right-radius: 5px;

            border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-bottom-right-radius: 5px;
            -o-border-bottom-right-radius: 5px;
            .rightT {
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-left: 10px solid #111;
              border-bottom: 10px solid transparent;

              position: absolute;
              top: 5px;
              right: 5px;
            }
          }

          .botcross {
            width: 30px;
            height: 30px;
            background-color: #222;

            position: absolute;
            bottom: 0;
            left: 30px;

            box-shadow: -3px 2px #010101;
            -webkit-box-shadow: -3px 2px #010101;
            -moz-box-shadow: -3px 2px #010101;
            -o-box-shadow: -3px 2px #010101;

            border-bottom-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-bottom-left-radius: 5px;
            -o-border-bottom-left-radius: 5px;

            border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-bottom-right-radius: 5px;
            -o-border-bottom-right-radius: 5px;
            .downT {
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #111;

              position: absolute;
              bottom: 5px;
              left: 4px;
            }
          }
        }
      }

      /*
      * Panel derecho
      * Contenedor principal de Pokedex
      */
      .pokedex-right {
        width: 350px;
        height: 500px;
        float: left;
        position: relative;
        .stats {
          height: 120px;
          min-height: 130px;
          overflow: auto;
          margin: 0 auto;
          width: 90%;
          padding: 10px;
          background-color: #30da0c;
          z-index: 1;
          font-size: 13px;
          font-family: arial, sans-serif;
          position: absolute;
          top: 130px;
          left: 18px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -o-border-radius: 15px;
          box-shadow: 0 0 20px #003300 inset;
          -webkit-box-shadow: 0 0 20px #003300 inset;
          -moz-box-shadow: 0 0 20px #003300 inset;
          -o-box-shadow: 0 0 20px #003300 inset;
        }
        .blueButtons1 {
          z-index: 1;
          position: absolute;
          top: 280px;
          left: 49px;
          .blueButton {
            height: 35px;
            width : 45px;
            background-color: #0530e5;
            float: left;
            margin-right: 7px;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;

            background: linear-gradient(top, #307bfb 0%, #0530e5 80%);
            background: -webkit-linear-gradient(top, #307bfb 0%, #0530e5 80%);
            background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
            background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%);

            box-shadow: -1px 2px #001c91;
            -webkit-box-shadow: -1px 2px #001c91;
            -moz-box-shadow: -1px 2px #001c91;
            -o-box-shadow: -1px 2px #001c91;
          }
        }
        .blueButtons2 {
          z-index: 1;
          position: absolute;
          top: 325px;
          left: 49px;
          .blueButton {
            height: 35px;
            width : 45px;
            background-color: #0530e5;
            float: left;
            margin-right: 7px;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;

            background: linear-gradient(top, #307bfb 0%, #0530e5 80%);
            background: -webkit-linear-gradient(top, #307bfb 0%, #0530e5 80%);
            background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
            background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%);

            box-shadow: -1px 2px #001c91;
            -webkit-box-shadow: -1px 2px #001c91;
            -moz-box-shadow: -1px 2px #001c91;
            -o-box-shadow: -1px 2px #001c91;
          }
        }
        .miniButtonGlass4 {
          width: 15px;
          height: 15px;
          float: left;
          z-index: 1;

          position: absolute;
          top: 383px;
          left: 25px;

          box-shadow: 0 0 10px #490000;
          -webkit-box-shadow: 0 0 10px #490000;
          -moz-box-shadow: 0 0 10px #490000;
          -o-box-shadow: 0 0 10px #490000;

          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;

          background: radial-gradient(#ff9b5b, #fb6505);
          background: -webkit-radial-gradient(#ff9b5b, #fb6505);
          background: -moz-radial-gradient(#ff9b5b, #fb6505);
          background: -o-radial-gradient(#ff9b5b, #fb6505);
        }

        .miniButtonGlass5 {
          width: 15px;
          height: 15px;
          float: left;
          z-index: 1;

          position: absolute;
          top: 383px;
          left: 51px;

          box-shadow: 0 0 10px #490000;
          -webkit-box-shadow: 0 0 10px #490000;
          -moz-box-shadow: 0 0 10px #490000;
          -o-box-shadow: 0 0 10px #490000;

          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;

          background: radial-gradient(#0abd0a, #057b05);
          background: -webkit-radial-gradient(#0abd0a, #057b05);
          background: -moz-radial-gradient(#0abd0a, #057b05);
          background: -o-radial-gradient(#0abd0a, #057b05);
        }
        .barbutton3 {
          height: 13px;
          width: 50px;
          z-index: 1;

          position: absolute;
          top: 385px;
          left: 210px;

          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50fb05+72,057b05+100 */
          background: #50fb05; /* Old browsers */
          background: -moz-linear-gradient(top, #50fb05 72%, #057b05 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #50fb05 72%,#057b05 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #50fb05 72%,#057b05 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50fb05', endColorstr='#057b05',GradientType=0 ); /* IE6-9 */

          box-shadow: -1px 2px #004200;
          -webkit-box-shadow: -1px 2px #004200;
          -moz-box-shadow: -1px 2px #004200;
          -o-box-shadow: -1px 2px #004200;
        }

        .barbutton4 {
          height: 13px;
          width: 50px;
          z-index: 1;

          position: absolute;
          top: 385px;
          left: 270px;

          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+54,ff7b0d+86 */
          background: #ffa84c; /* Old browsers */
          background: -moz-linear-gradient(top, #ffa84c 54%, #ff7b0d 86%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #ffa84c 54%,#ff7b0d 86%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #ffa84c 54%,#ff7b0d 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */


          box-shadow: -1px 2px #7b0000;
          -webkit-box-shadow: -1px 2px #7b0000;
          -moz-box-shadow: -1px 2px #7b0000;
          -o-box-shadow: -1px 2px #7b0000;
        }

        .yellowBox1 {
          width: 140px;
          height: 70px;
          z-index: 1;
          background-color: #ffff00;

          position: absolute;
          top: 415px;
          left: 25px;

          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -o-border-radius: 15px;

          box-shadow: 0 0 20px #ff6600 inset;
          -webkit-box-shadow: 0 0 20px #ff6600 inset;
          -moz-box-shadow: 0 0 20px #ff6600 inset;
          -o-box-shadow: 0 0 20px #ff6600 inset;
        }

        .yellowBox2 {
          width: 140px;
          height: 70px;
          z-index: 1;
          background-color: #ffff00;

          position: absolute;
          top: 415px;
          left: 185px;

          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -o-border-radius: 15px;

          box-shadow: 0 0 20px #ff6600 inset;
          -webkit-box-shadow: 0 0 20px #ff6600 inset;
          -moz-box-shadow: 0 0 20px #ff6600 inset;
          -o-box-shadow: 0 0 20px #ff6600 inset;
        }

        .curve1_right {
          width: 166px;
          height: 451px;
          background-color: $pokedex-red;
          float: right;

          position: absolute;
          bottom: 0;
          left: 0;

          border-top-right-radius:85px 60px;
          -webkit-border-right-left-radius: 85px 60px;
          -moz-border-right-left-radius: 85px 60px;
          -o-border-right-left-radius: 85px 60px;
        }

        .bg_curve1_right {
          width: 350px;
          height: 80px;
          background-color: #fff;

          border-top-right-radius: 30px;
          -webkit-border-top-right-radius: 30px;
          -moz-border-top-right-radius: 30px;
          -o-border-top-right-radius: 30px;
        }

        .curve2_right {
          width: 216px;
          height: 100px;
          background-color: #fff;
          float: left;

          position: absolute;
          top: 0;
          right: 0;

          border-bottom-left-radius: 85px 60px;
          -webkit-border-bottom-left-radius: 85px 60px;
          -moz-border-bottom-left-radius: 85px 60px;
          -o-border-bottom-left-radius: 85px 60px;
        }

        .bg_curve2_right {
          width: 350px;
          height: 420px;
          background-color: $pokedex-red;

          border-bottom-right-radius: 30px;
          -webkit-border-bottom-right-radius: 30px;
          -moz-border-bottom-right-radius: 30px;
          -o-border-bottom-right-radius: 30px;

          box-shadow: -10px 9px $pokedex-red-shadow;
          -webkit-box-shadow: -10px 9px $pokedex-red-shadow;
          -moz-box-shadow: -10px 9px $pokedex-red-shadow;
          -o-box-shadow: -10px 9px $pokedex-red-shadow;
        }
      }
    }
  }

  @media handheld and (orientation:portrait), (max-width:768px) {
    .pokedex {
      width: 400px;
      .pokedex-left {
        width: 400px;
        height: 500px;
        float: left;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        .logo {
          width: 281px;
          height: 99px;
          background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/200653/logo.png') no-repeat left top;
          z-index: 1;
          position: absolute;
          top: 220px;
          left: 30px;
        }
        .bg_curve1_left {
          width: 400px;
          height: 80px;
          background-color: #8b0000;

          box-shadow: -10px 9px $pokedex-red-shadow;
          -webkit-box-shadow: -10px 9px $pokedex-red-shadow;
          -moz-box-shadow: -10px 9px $pokedex-red-shadow;
          -o-box-shadow: -10px 9px $pokedex-red-shadow;

          border-top-left-radius: 30px;
          -webkit-border-top-left-radius: 30px;
          -moz-border-top-left-radius: 30px;
          -o-border-top-left-radius: 30px;
        }
        .curve1_left {
          width: 201px;
          height: 85px;
          background-color: #8b0000;
          float: left;
          padding: 15px 0 0 15px;

          position: absolute;
          top: 0;
          left: 0;

          box-shadow: 0 0 $pokedex-red-shadow;
          -webkit-box-shadow: 0 0 $pokedex-red-shadow;
          -moz-box-shadow: 0 0 $pokedex-red-shadow;
          -o-box-shadow: 0 0 $pokedex-red-shadow;

          border-bottom-right-radius: 85px 60px;
          -webkit-border-bottom-right-radius: 85px 60px;
          -moz-border-bottom-right-radius: 85px 60px;
          -o-border-bottom-right-radius: 85px 60px;

          border-top-left-radius: 30px;
          -webkit-border-top-left-radius: 30px;
          -moz-border-top-left-radius: 30px;
          -o-border-top-left-radius: 30px;
        }
      }
    }

    .pokedex-right, .screen, .bigbluebutton, .barbutton1, .barbutton2, .cross
    {
      display: none;
    }
  }
  /*lightBlueEffect*/
  .pokedex-light {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: lightBlueEffect 1.5s ease-in-out infinite alternate;
    -moz-animation: lightBlueEffect 1.5s ease-in-out infinite alternate;
    animation: lightBlueEffect 1.5s ease-in-out infinite alternate;
  }
}

